{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
  <!-- loader starts-->
  <div class="loader-wrapper">
    <div class="theme-loader">    
      <div class="loader-p"></div>
    </div>
  </div>
  <!-- loader ends-->
  <!-- tap on top starts-->
  <div class="tap-top"><i data-feather="chevrons-up"></i></div>
  <!-- tap on top ends-->
  <!-- page-wrapper Start-->
  <div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Header Start-->
    {% include 'includes/navbar.html' %}
    <!-- Page Header Ends-->
    <!-- Page Body Start-->
    <div class="page-body-wrapper">
      <!-- Page Sidebar Start-->
      {% include 'includes/sidebar.html' %}
      <!-- Page Sidebar Ends-->
      <div class="page-body">
        <div class="container-fluid">
          <div class="page-title">
            <div class="row">
              <div class="col-xl-4 col-sm-7 box-col-3">
                <h3>Form Builder</h3>
              </div>
              <div class="col-5 d-none d-xl-block">
                <div class="left-header main-sub-header p-0">
                  <div class="left-menu-header"></div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-5 box-col-4"> 
                <ol class="breadcrumb"> 
                  <li class="breadcrumb-item">
                    <a href="index.html">
                      <svg class="stroke-icon">
                        <use href="{% static 'assets/svg/icon-sprite.svg' %}#stroke-home"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="breadcrumb-item">PlingMe</li>
                  <li class="breadcrumb-item active">Form Builder</li>
                </ol>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Create Your Embeddable Form</h4>
                  </div>
                  <div class="card-body">
                    <!-- Formulario -->
                    <form method="post" action="{% url 'create_formulario' %}">
                      {% csrf_token %}
                      <div class="row g-xl-5 g-3">
                        <!-- Sidebar de tabs -->
                        <div class="col-xxl-3 col-xl-4 box-col-4e sidebar-left-wrapper">
                          <ul class="sidebar-left-icons nav nav-pills" id="add-product-pills-tab" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link {% if not embed_code %}active{% endif %}" id="name-tab" data-bs-toggle="pill" href="#name-form" role="tab" aria-controls="name-form" aria-selected="{% if not embed_code %}true{% else %}false{% endif %}">
                                <div class="nav-rounded">
                                  <div class="product-icons">
                                    <svg class="stroke-icon">
                                      <use href="{% static 'assets/svg/icon-sprite.svg' %}#product-detail"></use>
                                    </svg>
                                  </div>
                                </div>
                                <div class="product-tab-content">
                                  <h6>Name</h6>
                                  <p>Add form name</p>
                                </div>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="contact-method-tab" data-bs-toggle="pill" href="#contact-method" role="tab" aria-controls="contact-method" aria-selected="false">
                                <div class="nav-rounded">
                                  <div class="product-icons">
                                    <svg class="stroke-icon">
                                      <use href="{% static 'assets/svg/icon-sprite.svg' %}#product-category"></use>
                                    </svg>
                                  </div>
                                </div>
                                <div class="product-tab-content">
                                  <h6>Contact Method</h6>
                                  <p>Select SMS, Email, Telegram, WhatsApp</p>
                                </div>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="contact-info-tab" data-bs-toggle="pill" href="#contact-info" role="tab" aria-controls="contact-info" aria-selected="false">
                                <div class="nav-rounded">
                                  <div class="product-icons">
                                    <svg class="stroke-icon">
                                      <use href="{% static 'assets/svg/icon-sprite.svg' %}#product-gallery"></use>
                                    </svg>
                                  </div>
                                </div>
                                <div class="product-tab-content">
                                  <h6>Contact Information</h6>
                                  <p>Email and/or phone number fields</p>
                                </div>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="contact-preference-tab" data-bs-toggle="pill" href="#contact-preference" role="tab" aria-controls="contact-preference" aria-selected="false">
                                <div class="nav-rounded">
                                  <div class="product-icons">
                                    <svg class="stroke-icon">
                                      <use href="{% static 'assets/svg/icon-sprite.svg' %}#pricing"></use>
                                    </svg>
                                  </div>
                                </div>
                                <div class="product-tab-content">
                                  <h6>Contact Preferences</h6>
                                  <p>Define when to contact subscribers</p>
                                </div>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="frequency-tab" data-bs-toggle="pill" href="#frequency" role="tab" aria-controls="frequency" aria-selected="false">
                                <div class="nav-rounded">
                                  <div class="product-icons">
                                    <svg class="stroke-icon">
                                      <use href="{% static 'assets/svg/icon-sprite.svg' %}#advance"></use>
                                    </svg>
                                  </div>
                                </div>
                                <div class="product-tab-content">
                                  <h6>Frequency</h6>
                                  <p>Set how often to contact subscribers</p>
                                </div>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link {% if embed_code %}active{% endif %}" id="code-tab" data-bs-toggle="pill" href="#code" role="tab" aria-controls="code" aria-selected="{% if embed_code %}true{% else %}false{% endif %}">
                                <div class="nav-rounded">
                                  <div class="product-icons">
                                    <svg class="stroke-icon">
                                      <use href="{% static 'assets/svg/icon-sprite.svg' %}#product-category"></use>
                                    </svg>
                                  </div>
                                </div>
                                <div class="product-tab-content">
                                  <h6>Get Code</h6>
                                  <p>Copy embed code for your website</p>
                                </div>
                              </a>
                            </li>
                          </ul>
                        </div>
                        <!-- Contenido de cada tab - Reducido para hacer espacio al preview -->
                        <div class="col-xxl-4 col-xl-8 box-col-8 position-relative">
                          <div class="tab-content" id="add-product-pills-tabContent">
                            <!-- Tab: Name -->
                            <div class="tab-pane fade {% if not embed_code %}show active{% endif %}" id="name-form" role="tabpanel" aria-labelledby="name-tab">
                              <div class="sidebar-body">
                                <div class="mb-3">
                                  <label class="form-label" for="formName">Form Name <span class="txt-danger">*</span></label>
                                  <input name="formName" class="form-control" id="formName" type="text" required>
                                </div>
                                <div class="product-buttons">
                                  <button type="button" class="btn btn-primary" data-bs-toggle="pill" data-bs-target="#contact-method">
                                    Next
                                    <svg>
                                      <use href="{% static 'assets/svg/icon-sprite.svg' %}#front-arrow"></use>
                                    </svg>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <!-- Tab: Contact Method -->
                            <div class="tab-pane fade" id="contact-method" role="tabpanel" aria-labelledby="contact-method-tab">
                              <div class="sidebar-body">
                                <label class="form-label">Select Contact Methods</label>
                                <div class="row mt-2">
                                  <div class="col-3 text-center">
                                    <div class="position-relative d-inline-block">
                                      <input name="contact_methods" class="form-check-input" type="checkbox" value="email" id="emailCheckbox">
                                      <div class="contact-method-icon p-4 bg-light rounded">
                                        <i class="fa fa-envelope fa-2x text-primary"></i>
                                        <p>Email</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-3 text-center">
                                    <div class="position-relative d-inline-block">
                                      <input name="contact_methods" class="form-check-input" type="checkbox" value="sms" id="smsCheckbox">
                                      <div class="contact-method-icon p-4 bg-light rounded">
                                        <i class="fa fa-comment fa-2x text-success"></i>
                                        <p>SMS</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-3 text-center">
                                    <div class="position-relative d-inline-block">
                                      <input name="contact_methods" class="form-check-input" type="checkbox" value="telegram" id="telegramCheckbox">
                                      <div class="contact-method-icon p-4 bg-light rounded">
                                        <i class="fa fa-paper-plane fa-2x text-info"></i>
                                        <p>Telegram</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-3 text-center">
                                    <div class="position-relative d-inline-block">
                                      <input name="contact_methods" class="form-check-input" type="checkbox" value="whatsapp" id="whatsappCheckbox">
                                      <div class="contact-method-icon p-4 bg-light rounded">
                                        <i class="fa fa-whatsapp fa-2x text-success"></i>
                                        <p>WhatsApp</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="product-buttons mt-3">
                                  <button type="button" class="btn btn-light" data-bs-toggle="pill" data-bs-target="#name-form">
                                    <svg>
                                      <use href="{% static 'assets/svg/icon-sprite.svg' %}#back-arrow"></use>
                                    </svg>
                                    Previous
                                  </button>
                                  <button type="button" class="btn btn-primary" data-bs-toggle="pill" data-bs-target="#contact-info">
                                    Next
                                    <svg>
                                      <use href="{% static 'assets/svg/icon-sprite.svg' %}#front-arrow"></use>
                                    </svg>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <!-- Tab: Contact Info -->
                            <div class="tab-pane fade" id="contact-info" role="tabpanel" aria-labelledby="contact-info-tab">
                              <div class="sidebar-body">
                                <div class="mb-3">
                                  <h5>Email Field</h5>
                                  <div class="form-check form-switch">
                                    <input name="emailFieldRequired" class="form-check-input" type="checkbox" id="emailFieldRequired" checked>
                                    <label class="form-check-label" for="emailFieldRequired">Required field</label>
                                  </div>
                                  <div class="mt-2">
                                    <label for="emailPlaceholder" class="form-label">Placeholder text</label>
                                    <input name="emailPlaceholder" type="text" class="form-control" id="emailPlaceholder" value="Your email address">
                                  </div>
                                </div>
                                <div class="mb-3">
                                  <h5>Phone Field</h5>
                                  <div class="form-check form-switch">
                                    <input name="phoneFieldRequired" class="form-check-input" type="checkbox" id="phoneFieldRequired" checked>
                                    <label class="form-check-label" for="phoneFieldRequired">Required field</label>
                                  </div>
                                  <div class="mt-2">
                                    <label for="phonePlaceholder" class="form-label">Placeholder text</label>
                                    <input name="phonePlaceholder" type="text" class="form-control" id="phonePlaceholder" value="Your phone number">
                                  </div>
                                </div>
                                <div class="product-buttons mt-3">
                                  <button type="button" class="btn btn-light" data-bs-toggle="pill" data-bs-target="#contact-method">
                                    <svg>
                                      <use href="{% static 'assets/svg/icon-sprite.svg' %}#back-arrow"></use>
                                    </svg>
                                    Previous
                                  </button>
                                  <button type="button" class="btn btn-primary" data-bs-toggle="pill" data-bs-target="#contact-preference">
                                    Next
                                    <svg>
                                      <use href="{% static 'assets/svg/icon-sprite.svg' %}#front-arrow"></use>
                                    </svg>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <!-- Tab: Contact Preference -->
                            <div class="tab-pane fade" id="contact-preference" role="tabpanel" aria-labelledby="contact-preference-tab">
                              <div class="sidebar-body">
                                <label class="form-label">Contact me when:</label>
                                <div class="mt-2">
                                  <div class="form-check">
                                    <input name="contact_preference" class="form-check-input" type="checkbox" value="promos" id="promoCheck" checked>
                                    <label class="form-check-label" for="promoCheck">Promotions and discounts available</label>
                                  </div>
                                  <div class="form-check">
                                    <input name="contact_preference" class="form-check-input" type="checkbox" value="new_products" id="newProductsCheck">
                                    <label class="form-check-label" for="newProductsCheck">New products launched</label>
                                  </div>
                                </div>
                                <div class="product-buttons mt-3">
                                  <button type="button" class="btn btn-light" data-bs-toggle="pill" data-bs-target="#contact-info">
                                    <svg>
                                      <use href="{% static 'assets/svg/icon-sprite.svg' %}#back-arrow"></use>
                                    </svg>
                                    Previous
                                  </button>
                                  <button type="button" class="btn btn-primary" data-bs-toggle="pill" data-bs-target="#frequency">
                                    Next
                                    <svg>
                                      <use href="{% static 'assets/svg/icon-sprite.svg' %}#front-arrow"></use>
                                    </svg>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <!-- Tab: Frequency -->
                            <div class="tab-pane fade" id="frequency" role="tabpanel" aria-labelledby="frequency-tab">
                              <div class="sidebar-body">
                                <label class="form-label">Contact frequency:</label>
                                <div class="mt-2">
                                  <div class="form-check">
                                    <input name="frequency" class="form-check-input" type="checkbox" value="once" id="onlyOnce" checked>
                                    <label class="form-check-label" for="onlyOnce">Only once</label>
                                  </div>
                                  <div class="form-check">
                                    <input name="frequency" class="form-check-input" type="checkbox" value="weekly" id="weekly">
                                    <label class="form-check-label" for="weekly">Weekly</label>
                                  </div>
                                  <div class="form-check">
                                    <input name="frequency" class="form-check-input" type="checkbox" value="monthly" id="monthly">
                                    <label class="form-check-label" for="monthly">Monthly</label>
                                  </div>
                                </div>
                                <div class="product-buttons mt-3">
                                  <button type="button" class="btn btn-light" data-bs-toggle="pill" data-bs-target="#contact-preference">
                                    <svg>
                                      <use href="{% static 'assets/svg/icon-sprite.svg' %}#back-arrow"></use>
                                    </svg>
                                    Previous
                                  </button>
                                  <button type="button" class="btn btn-primary" data-bs-toggle="pill" data-bs-target="#code">
                                    Next
                                    <svg>
                                      <use href="{% static 'assets/svg/icon-sprite.svg' %}#front-arrow"></use>
                                    </svg>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <!-- Tab: Get Code -->
                            <div class="tab-pane fade {% if embed_code %}show active{% endif %}" id="code" role="tabpanel" aria-labelledby="code-tab">
                              <div class="sidebar-body">
                                {% if embed_code %}
                                  <div class="alert alert-success">
                                    <h5>Form Created Successfully!</h5>
                                    <p>Your form is ready to be embedded. Copy the code below:</p>
                                  </div>
                                  <div class="card">
                                    <div class="card-header">
                                      <h5 class="mb-0">Embed Code</h5>
                                    </div>
                                    <div class="card-body">
                                      <pre class="language-html p-3 bg-dark">{{ embed_code|escape }}</pre>
                                    </div>
                                  </div>
                                {% else %}
                                  <div class="alert alert-info">
                                    <h5>Complete the Form</h5>
                                    <p>Fill out all the steps and click Finish to generate the embed code.</p>
                                  </div>
                                {% endif %}
                                <div class="product-buttons mt-3">
                                  <button type="button" class="btn btn-light" data-bs-toggle="pill" data-bs-target="#frequency">
                                    <svg>
                                      <use href="{% static 'assets/svg/icon-sprite.svg' %}#back-arrow"></use>
                                    </svg>
                                    Previous
                                  </button>
                                  {% if not embed_code %}
                                    <button type="submit" class="btn btn-success">
                                      <div class="d-flex align-items-center gap-sm-2 gap-1">
                                        <svg class="stroke-icon">
                                          <use href="{% static 'assets/svg/icon-sprite.svg' %}#check"></use>
                                        </svg>
                                        Finish
                                      </div>
                                    </button>
                                  {% endif %}
                                </div>
                              </div>
                            </div>
                          </div> <!-- Fin tab-content -->
                        </div> <!-- Fin col contenido -->
                        
                        <!-- NUEVA COLUMNA: Form Preview -->
                        <div class="col-xxl-5 col-xl-12 col-lg-12 col-md-12 mt-xl-0 mt-4">
                          <div class="card h-100">
                            <div class="card-header">
                              <h4>Form Preview</h4>
                              <p class="text-muted">See how your form will look to subscribers</p>
                            </div>
                            <div class="card-body p-0">
                              <div id="form-preview-container" class="h-100">
                                <!-- Preview will be rendered here by JavaScript -->
                                <div class="preview-empty-state">
                                  <i class="fa fa-eye"></i>
                                  <h5>Form Preview</h5>
                                  <p>Fill in your form details to see a live preview here</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- FIN NUEVA COLUMNA -->
                        
                      </div> <!-- Fin row -->
                    </form>
                    <!-- Fin formulario -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>
      </div>
      {% include 'includes/footer.html' %}
    </div>
  </div>

  <link rel="stylesheet" href="{% static 'assets/css/form-preview.css' %}">
  <script src="{% static 'assets/js/form-preview.js' %}"></script>
  <script src="{% static 'assets/js/fix-tabs.js' %}"></script>
</body>
{% endblock %}