{% extends 'base.html' %} 
{% load static %}


{% block content %}




  <body> 
    <!-- loader starts-->
    <div class="loader-wrapper">
      <div class="theme-loader">    
        <div class="loader-p"></div>
      </div>
    </div>
    <!-- loader ends-->
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <!-- Page Header Start-->
      
      {% include 'includes/navbar.html' %}


      <!-- Page Header Ends                              -->
      <!-- Page Body Start-->
      <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
       
        {% include 'includes/sidebar.html' %}

        <!-- Page Sidebar Ends-->
         
        <div class="page-body">
          <div class="container-fluid">
           <div class="page-title">
              <div class="row">
                <div class="col-xl-4 col-sm-7 box-col-3">
                  <h3>Dashboard</h3>
                </div>
                <div class="col-5 d-none d-xl-block"> 
                  
                </div>
                <div class="col-xl-3 col-sm-5 box-col-4"> 
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}"> 
                        <svg class="stroke-icon">
                          <use href="{% static 'assets/svg/icon-sprite.svg' %}"></use>
                        </svg></a></li>
                    <li class="breadcrumb-item">Dashboard </li>
                    <li class="breadcrumb-item active">PlingMe</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid ecommerce-dashboard">
            <div class="row">
              <div class="col-xl-6 proorder-xl-1">
                <div class="card">
                  <div class="card-body selling-card"> 
                    <div class="row">
                      <div class="col-md-4">
                        <div class="sale-card"> 
                          <div class="sale-date">
                            <h4>Plingers</h4><a href="order-history.html"><span class="txt-primary f-w-700">(See all Plingers)</span></a>
                          </div><span class="f-w-700 f-14 pb-4">Jan 1,2024 - Jun 30,2022</span>
                          <div class="sale-data">
                            <ul>
                              <li>
                                <h4>6547</h4>
                                <div class="sale-value"> 
                                  <svg>
                                    <use href="{% static 'assets/svg/icon-sprite.svg' %}"> </use>
                                  </svg>
                                  <div class="sales-value"><span class="txt-danger">95%</span><span>6 month before </span></div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="latest-chart" id="latestSales-chart"> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 proorder-xl-2">
                <div class="card">
                  <div class="card-header pb-0">
                    <div class="header-top">
                      <h4>Pings Summary</h4>
                      <div class="dropdown icon-dropdown setting-menu">
                        <button class="btn dropdown-toggle" id="userdropdown12" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <svg>
                            <use href="{% static 'assets/svg/icon-sprite.svg' %}"> </use>
                          </svg>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown12"><a class="dropdown-item" href="#">Weekly</a><a class="dropdown-item" href="#">Monthly </a><a class="dropdown-item" href="#">Yearly </a></div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body pt-0 summary-card"><span class="f-w-700 f-14">Jan 1,2024 - Jun 30,2022</span>
                    <div class="summary-progressbar">
                      <ul>
                        <li>
                          <div>
                            <h4>342</h4><span>SMS</span>
                          </div>
                          <div class="progress-showcase">
                            <div class="progress sm-progress-bar progress-border-primary">
                              <div class="progress-bar bg-primary" role="progressbar" style="width: 30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"> </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div> 
                            <h4>1056</h4><span>Email</span>
                          </div>
                          <div>
                            <div class="progress sm-progress-bar progress-border-secondary">
                              <div class="progress-bar bg-secondary" role="progressbar" style="width: 45%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"> </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div>
                            <h4>478</h4><span>WhatsApp</span>
                          </div>
                          <div>
                            <div class="progress-showcase"> 
                              <div class="progress sm-progress-bar progress-border-secondary">
                                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div> 
                            <h4>187</h4><span>Telegram</span>
                          </div>
                          <div>
                            <div class="progress sm-progress-bar progress-border-secondary">
                              <div class="progress-bar bg-secondary" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"> </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-7 proorder-xl-3 box-col-6">
                <div class="card"> 
                    <div class="card-header pb-0">
                        <div class="header-top">
                            <h4>Recent Pings</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive custom-scrollbar">
                            <table class="last-orders-table table" id="recent-pings">
                                <thead>
                                    <tr>
                                        <th>Platform</th>
                                        <th>Date & Time</th>
                                        <th>Category</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="user-data">
                                                <div><img src="{% static 'assets/images/icons/sms.png' %}" alt="SMS"></div>
                                                <div><a href="#">
                                                    <h4>SMS</h4></a><span class="f-w-600">Twilio</span></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="user-time"><a href="#">
                                                <h4>14 Mar 2024</h4></a><span class="f-w-600">10:00 AM</span></div>
                                        </td>
                                        <td>Reminder</td>
                                        <td>25</td>
                                        <td class="txt-success">Delivered</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="user-data">
                                                <div><img src="{% static 'assets/images/icons/whatsapp.png' %}" alt="WhatsApp"></div>
                                                <div><a href="#">
                                                    <h4>WhatsApp</h4></a><span class="f-w-600">Meta</span></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="user-time"><a href="#">
                                                <h4>12 Mar 2024</h4></a><span class="f-w-600">05:00 AM</span></div>
                                        </td>
                                        <td>Call Me Back</td>
                                        <td>15</td>
                                        <td class="txt-warning">Pending</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="user-data">
                                                <div><img src="{% static 'assets/images/icons/email.png' %}" alt="Email"></div>
                                                <div><a href="#">
                                                    <h4>Email</h4></a><span class="f-w-600">SendGrid</span></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="user-time"><a href="#">
                                                <h4>10 Mar 2024</h4></a><span class="f-w-600">12:30 AM</span></div>
                                        </td>
                                        <td>New Product Launch</td>
                                        <td>50</td>
                                        <td class="txt-success">Delivered</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="user-data">
                                                <div><img src="{% static 'assets/images/icons/telegram.png' %}" alt="Telegram"></div>
                                                <div><a href="#">
                                                    <h4>Telegram</h4></a><span class="f-w-600">Bot API</span></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="user-time"><a href="#">
                                                <h4>01 Mar 2024</h4></a><span class="f-w-600">09:20 AM</span></div>
                                        </td>
                                        <td>Discount Update</td>
                                        <td>30</td>
                                        <td class="txt-danger">Failed</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>            
              <div class="col-xl-5 proorder-xl-4 col-lg-6 box-col-6">
                <div class="card">
                  <div class="card-header custom-border-bottom">
                    <div class="header-top">
                      <h4>Where are the Plingers?</h4>
                      <div class="dropdown icon-dropdown setting-menu">
                        <button class="btn dropdown-toggle" id="userdropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <svg>
                            <use href="{% static 'assets/svg/icon-sprite.svg' %}"> </use>
                          </svg>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown"><a class="dropdown-item" href="#">Weekly</a><a class="dropdown-item" href="#">Monthly </a><a class="dropdown-item" href="#">Yearly </a></div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body"> 
                    <div class="row"> 
                      <div class="col-xxl-8">
                        <div class="map-world"> 
                          <div class="map">
                            <div class="jvector-map-height" id="world-map2"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-4 d-xxl-block d-none">
                        <ul class="customer-growth">
                          <li>
                            <div class="customer-details">
                              <div> <img src="{% static 'assets/images/dashboard-2/flags/1.png' %}" alt="flag"></div>
                              <div>
                                <h6 class="f-w-600 f-14">United States</h6><span class="f-w-600">70%</span>
                              </div>
                            </div>
                            <div class="progress progress-striped-primary b-r-2">
                              <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </li>
                          <li>
                            <div class="customer-details">
                              <div><img src="{% static 'assets/images/dashboard-2/flags/2.png' %}" alt="flag"></div>
                              <div>
                                <h6 class="f-w-600 f-14">Sweden </h6><span class="f-w-600">50% </span>
                              </div>
                            </div>
                            <div class="progress progress-striped-primary b-r-2">
                              <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </li>
                          <li>
                            <div class="customer-details">
                              <div><img src="{% static 'assets/images/dashboard-2/flags/3.png' %}" alt="flag"></div>
                              <div>
                                <h6 class="f-w-600 f-14">Australia</h6><span class="f-w-600">20%</span>
                              </div>
                            </div>
                            <div class="progress progress-striped-primary b-r-2">
                              <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </li>
                          <li>
                            <div class="customer-details">
                              <div><img src="{% static 'assets/images/dashboard-2/flags/4.png' %}" alt="flag"></div>
                              <div>
                                <h6 class="f-w-600 f-14">France </h6><span class="f-w-600">80% </span>
                              </div>
                            </div>
                            <div class="progress progress-striped-primary b-r-2">
                              <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-4 col-lg-6 proorder-xl-5 box-col-6">
                <div class="card">
                    <div class="card-header">
                        <div class="header-top">
                            <h4>Top Pings</h4>
                            <div class="dropdown icon-dropdown setting-menu">
                                <button class="btn dropdown-toggle" id="userdropdown21" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <svg>
                                        <use href="{% static 'assets/svg/icon-sprite.svg' %}"> </use>
                                    </svg>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown21">
                                    <a class="dropdown-item" href="#">Weekly</a>
                                    <a class="dropdown-item" href="#">Monthly</a>
                                    <a class="dropdown-item" href="#">Yearly</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive custom-scrollbar">
                            <table class="last-orders-table table">
                                <thead>
                                    <tr>
                                        <th>Platform</th>
                                        <th>Date</th>
                                        <th>Category</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>SMS</td>
                                        <td>30 Mar 2024</td>
                                        <td>Discount Update</td>
                                        <td>542</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td>25 Mar 2024</td>
                                        <td>New Product Launch</td>
                                        <td>420</td>
                                    </tr>
                                    <tr>
                                        <td>WhatsApp</td>
                                        <td>20 Mar 2024</td>
                                        <td>Call Me Back</td>
                                        <td>198</td>
                                    </tr>
                                    <tr>
                                        <td>Telegram</td>
                                        <td>14 Mar 2024</td>
                                        <td>Reminder</td>
                                        <td>150</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xxl-4 col-md-6 proorder-xl-6 box-col-6">
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="header-top">
                            <h4>Plingers Activity</h4>
                            <div class="dropdown icon-dropdown setting-menu">
                                <button class="btn dropdown-toggle" id="userdropdown23" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <svg>
                                        <use href="{% static 'assets/svg/icon-sprite.svg' %}"> </use>
                                    </svg>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown23">
                                    <a class="dropdown-item" href="#">Weekly</a>
                                    <a class="dropdown-item" href="#">Monthly</a>
                                    <a class="dropdown-item" href="#">Yearly</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="user-activity" id="UserActivity"> </div>
                        <div class="user-activity">
                            <ul>
                                <li>
                                    <div class="applications-menu">
                                        <div class="rounded-btn-primary"></div>
                                        <h3>Active Plinglers</h3>
                                    </div>
                                    <h4>65%</h4>
                                </li>
                                <li>
                                    <div class="applications-menu">
                                        <div class="rounded-btn-secondary"></div>
                                        <h3>Inactive Plinglers</h3>
                                    </div>
                                    <h4>35%</h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xxl-4 col-md-6 proorder-xl-7 box-col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="header-top">
                            <h4>Recent Plingers</h4>
                            <div class="dropdown icon-dropdown setting-menu">
                                <button class="btn dropdown-toggle" id="userdropdown34" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <svg>
                                        <use href="{% static 'assets/svg/icon-sprite.svg' %}"> </use>
                                    </svg>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown34">
                                    <a class="dropdown-item" href="#">Weekly</a>
                                    <a class="dropdown-item" href="#">Monthly</a>
                                    <a class="dropdown-item" href="#">Yearly</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive custom-scrollbar">
                            <table class="table monthly-selling">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Status</th>
                                        <th class="text-end">Platform</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Brooklyn Simmons</td>
                                        <td>+1 234-567-890</td>
                                        <td class="txt-primary">Active</td>
                                        <td class="text-end">SMS</td>
                                    </tr>
                                    <tr>
                                        <td>Savannah Nguyen</td>
                                        <td>+1 987-654-321</td>
                                        <td class="txt-warning">Pending</td>
                                        <td class="text-end">WhatsApp</td>
                                    </tr>
                                    <tr>
                                        <td>Ronald Richards</td>
                                        <td>+1 555-123-456</td>
                                        <td class="txt-primary">Active</td>
                                        <td class="text-end">Email</td>
                                    </tr>
                                    <tr>
                                        <td>Marvin McKinney</td>
                                        <td>+1 777-888-999</td>
                                        <td class="txt-danger">Inactive</td>
                                        <td class="text-end">Telegram</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </div>
          </div>
          <!-- Container-fluid Ends -->
        </div>
        <!-- footer start-->
        {% include 'includes/footer.html' %}
        <!-- footer end-->
      </div>
    </div>
    
  </body>
</html>

{% endblock %}